*~
.cpm
.curry
bin/*
!bin/perftest
vendor
src/CPM/ConfigPackage.curry
TEST*.curry
*_PUBLIC.curry
CPM.Main
CPM.PerformanceTest
DOC_*
*.prof
docs/*.aux
docs/*.pdf
docs/*.toc
docs/*.log
docs/*.out
docs/*.idx
docs/*.ilg
docs/*.synctex.gz
cdoc/
